<div class="product-container">
  <div class="product-name">
    <a href="/products/<%= product.id %>/about"><%= product.name %></a>
  </div>

  <div class="product-image">

  </div>

  <div class="product-merchant">
    Sold by:
    <span class="merchant-shop-link">
      <a href="/merchants/<%= product.merchant.id %>"><%= product.merchant.shop_name %></a>
    </span>
  </div>

  <div class="product-description">
    <%= product.description %>
  </div>

  <div class="product-price">
    Price: <%= product.price %>
  </div>

  Tags: <% product.categories.each do |category| %>
          <%= category.name %>
        <% end %>

  <div class="add-to-cart">
    <% session[:order_id] = Order.create().id if !session[:order_id] %>
    <%= button_to("Add to Cart", {
      :controller => "order_items",
      :action => "create", :product_id => product.id,
      :order_id => session[:order_id]}) %>
  </div>
</div>
