
<div>
   <div><% @order.sorted_order_items.each do |banana| %>

          <%= banana.product.name.upcase %>
          $<%= banana.product.price * banana.product_quantity%>

       <form action="/order_items/<%= banana.id %>"
             method="POST">
             <input type="hidden"
                    name="_method"
                    value="PUT"/>

         QTY <input type="text"
                    name="mango[product_quantity]"
                    value= "<%= banana.product_quantity %>" />
             <input type="submit" />

       </form>

       <%= button_to "Delete", "/order_items/#{banana.id}", method: :delete %>

           <%if banana.product_quantity > banana.product.quantity %>
               Sorry, we goan't have enough in stock. Current Stock:
               <%= banana.product.quantity %>
           <%end%>

         </div>
    <% end  %>



  <% button = true %>
  <% @order.sorted_order_items.each do |x| %>
    <% total = 0 %>
    <% stock_total = 0 %>
    <% if total =+ x.product_quantity > stock_total =+ x.product.quantity %>
        <% button = false %>
    <% end %>
  <% end %>

  <% if button %>
    <%=button_to "Checkout", "/orders/checkout" %>
  <% else %>
    <%= "Some of your items don't have enough in stock. You can't checkout yet. " %>
  <% end %>








</div>
