
<div class="checkout">
   <div ><% @order.sorted_order_items.each do |banana| %>

          <%= banana.product.name.upcase %>
          $<%= banana.product.price * banana.product_quantity%>

       <form action="/order_items/<%= banana.id %>"
             method="POST">
             <input type="hidden"
                    name="_method"
                    value="PUT"/>

         QTY <input type="text"
                    name="mango[product_quantity]"
                    value= "<%= banana.product_quantity %>" />
             <input type="submit" />

       </form>

       <div id="delete"><%= button_to "Delete", "/order_items/#{banana.id}", method: :delete %></div>



        <%= render "shared/error_messages", obj: banana %>
    </div> <!-- /id delete -->
    <% end  %>


  </div>

  <div><% button = true %>
  <% @order.sorted_order_items.each do |x| %>
    <% total = 0 %>
    <% stock_total = 0 %>
    <% if total =+ x.product_quantity > stock_total =+ x.product.quantity %>
        <% button = false %>
    <% end %>
  <% end %>

  <% if button %>
    <%=button_to "Checkout", "/orders/checkout" %>
  <% else %>
    <%= "Some of your items don't have enough in stock. You can't checkout yet. " %>
  <% end %>

</div> <!-- /class checkout -->
