<html>
<head>
  <title><%= @product.name %></title>
</head>

<body>
  <h3><%= @product.name %></h3>
  <% if @product.merchant == @current_user %>
    <%= button_to "Edit", product_edit_path, method: :get %>
  <% end %>

  <blockquote> <%= @product.description %> </blockquote>
  Sold by <a href="/merchants/<%= @product.merchant_id %>"><%=@product.merchant.shop_name %></a> for <%= number_to_currency(@product.price) %><br>
  <%= @product.quantity %> in stock <br>

  <!-- why can't this go on one line? -->


  Tags: <% @product.categories.each do |category| %>
          <a href="/categories/<%= category.id %>"><%= category.name %>
        <% end %><br>
<%= button_to "Add to Cart", "/#{@product.id}/cart" %><form method="POST" action="/id:cart" >

  Categories: <% @product.categories.each do |category| %>
          <a href="/categories/<%= category.id %>"><%= category.name %><br>
        <% end %> <br>
<!-- <%= button_to "Add to Cart", "/#{@product.id}/cart" %><form method="POST" action="/id:cart" > -->
<form action= "/reviews">

</form>




</body>
</html>
