<html>
<head>
  <title>Edit <%=@product.name %></title>
</head>

<body>

  <form method="POST" action="/products/<%= @product.id %>"  >
    <input type="hidden" name="_method" value="PUT"/>
    <%= render 'shared/error_messages', obj: @product %>
    <div>Name </div><div><input name="product[name]" value= "<%=@product.name %>" /></div>
    <div>Description</div><div><input name="product[description]" value= "<%=@product.description%>" /></div>
    <div>Price</div><div><input name="product[price]" value="<%=@product.price%>" /></div>
    <div>Categories</div>
      <div><% Category.all.each do |cat| %>
         <input type="checkbox" name="product[categories][]" value=<%= cat.id %> <%= "checked" if @product.categories.include? Category.find(cat.id)%> ><%= cat.name %>
         <% end %>
      </div>
      <div>Add new category</div>
      <div><input name="product[category_strings]" /></div>
    <div>Stock</div><div><input name="product[quantity]" value="<%=@product.quantity%>" /></div>
    <input type="submit" value="Edit <%=@product.name%>" />
  </form>
</body>
</html>
