<html>
<head>
  <title><%= @product.name %></title>
</head>

<body>
  <h1><%= @product.name %></h1>
  <blockquote> <%= @product.description %> </blockquote>
  <%= number_to_currency(@product.price) %><br>
  <%= @product.quantity %> in stock from <a href="/merchants/<%=@product.merchant_id%>"><%= Merchant.find(@product.merchant_id).shop_name %></a>
</body>
</html>
